input.txt-sml{
	width: 60px;
	font-size: 10px
}
.wpp_loc_set{
	background-color: #eee;
	margin: 6px 0 12px;
	padding: 0 20px;
}
.wpp_loc_set h2.slct-ttl{
	background-color: #444;
	color: #fff;
	margin: 0 -20px 20px !important;
}
.fnl_slct{
	margin: 20px -20px;
	background-color: #ddd;
	padding: 20px;
	position: relative;
}
.SumoSelect,#yg_postslct_ttl{
	margin-right: 12px
}
.rowdiv{
	border-bottom: 1px solid #eee;
	padding: 2px 10px;
	border-left: 6px solid;
	margin-bottom: 4px;
	background: #f6f6f6;
}
.block{
	padding-left: 20px;
}
.block.rowdiv{
	background: transparent;
	border-left: 2px dotted #ccc;
	border-bottom: none;
	padding-right: 0;
}
.rowdiv.tp-location{
	border-left-color: #f76e91; 
}
.rowdiv.tp-history{
	border-left-color: #ffa084; 
}
.rowdiv.tp-interaction{
	border-left-color: #f0f8b9; 
}
.rowdiv.tp-device{
	border-left-color: #d2efab; 
}
.rowdiv input[type="text"]{
	vertical-align: middle;
}
.rowdiv input{
	margin-right: 4px;
}
.add_row{
	width: 16px;
	height: 16px;
	background: #50774e;
	text-align: center;
	border-radius: 4px;
	font-size: 20px;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	border: 1px solid #0f5a0d;
	line-height: 0.8;
}
.remove_row{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: #a33a3a;
	text-align: center;
	border-radius: 4px;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	border: 1px solid #6e2020;
	vertical-align: middle;
	line-height: 0.8;
}
#wpp_bnnrs_meta h2{background: url(../images/wpp_block.png) no-repeat 2px 10px #999;padding-left: 24px;}
#wpp_bnnrs_meta .handlediv.button-link .toggle-indicator::before{color: #fff;}
#pos_select_comment{display: inline-block;margin-left: 20px;}
#pos_select_comment strong{color: #000;}
.bnnrtest #wpcontent{background-color: #f1e8e8;}
.bnnrtest #wpp_test_meta h2{background-color: #b44;}
.bnnrtest #wpp_test_meta .handlediv.button-link .toggle-indicator::before{color: #fff;}
.bnnrtest #wpp-link-wrap-div{display:block;}
#wpp-link-wrap-div{display:none;}
.mbox_desc.wpp-set-test{display:block;}
.bnnrtest .mbox_desc.wpp-set-test{display:none;}
.pu-sldr{width: 90%;}
.slider-holder{
	border: none !important;
	background: transparent !important;
	box-shadow: none !important;
}